.c-header {
  padding: 0 var(--space-s-l);
  position: sticky;
  top: 0;
  background-color: var(--bg);
  z-index: 1;
  font-size: var(--step--1);
  border-bottom: 0.3rem solid;
}

.c-header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;

  a {
    display: block;
    padding: 0.75rem 1rem;
    text-decoration-color: transparent;

    &:hover,
    &:focus {
      text-decoration-color: inherit;
    }
  }

  @media (min-width: $md) {
    gap: 0.5rem;
  }
}
