.o-richtext {
  max-width: 60ch;

  * + * {
    margin-top: var(--space-s);
  }

  * + h2,
  * + h3 {
    margin-top: var(--space-l);
  }

  h2 + * {
    margin-top: var(--space-l);
  }

  ul {
    list-style-type: disc;
    margin-left: 2rem;
  }

  li + li {
    margin-top: var(--space-xs);
  }

  h2,
  h3 {
    border-bottom: 0.3rem solid;
    padding-left: var(--space-s-l);
    padding-bottom: 0.2em;
    margin-left: calc(var(--space-s-l) * -1);
    width: fit-content;
  }

  h2 {
    position: relative;

    &::after {
      position: absolute;
      top: 100%;
      right: 0;
      content: '';
      width: 100vw;
      border-bottom: 0.3rem solid;
    }
  }

  h2 + h3 {
    margin-top: var(--space-m);
  }

  pre {
    display: block;
    padding: 1rem;
    max-width: 40rem;
  }

  code,
  pre {
    background-color: color-mix(in oklch, black 6%, var(--bg));
    border-radius: 0.25rem;
    font-size: 1rem;
  }

  h1 {
    margin-bottom: var(--space-m);
    padding-bottom: var(--space-m);
    border-bottom: 0.3rem solid;
  }
}

.intro {
  .o-richtext {
    max-width: 70ch;
  }
}
