.o-richtext {
  max-width: 60ch;

  * + * {
    margin-top: var(--space-s);
  }

  * + h2,
  * + h3 {
    margin-top: var(--space-l);
  }

  h2 + * {
    margin-top: var(--space-l);
  }

  ul {
    list-style-type: disc;
  }

  ol,
  ul {
    padding-left: var(--space-s-l);
  }

  li + li {
    margin-top: var(--space-xs);
  }

  h2,
  h3 {
    border-bottom: 0.3rem solid;
    padding-left: var(--space-s-l);
    padding-bottom: 0.2em;
    margin-left: calc(var(--space-s-l) * -1);
    width: fit-content;
  }

  h2 {
    position: relative;

    &::after {
      position: absolute;
      top: 100%;
      right: 0;
      content: '';
      width: 100vw;
      border-bottom: 0.3rem solid;
    }
  }

  h2 + h3 {
    margin-top: var(--space-m);
  }

  pre {
    display: block;
    padding: 1rem;
    max-width: 40rem;
  }

  code,
  pre {
    background-color: color-mix(in oklch, black 6%, var(--bg));
    border-radius: 0.25rem;
    font-size: 1rem;
  }

  h1 {
    margin-bottom: var(--space-m);
    padding-bottom: var(--space-m);
    border-bottom: 0.3rem solid;
  }

  sup {
    line-height: 1;
    font-variant-numeric: lining-nums;

    &::before {
      content: '[';
    }

    &::after {
      content: ']';
    }
  }
}

.intro {
  .o-richtext {
    max-width: 70ch;
  }
}

@supports (animation-timeline: view()) {
  @media (prefers-reduced-motion: no-preference) {
    .o-richtext > * {
      view-timeline-name: --appear;
      view-timeline-axis: block;
      animation: auto ease fadeIn both;
      animation-timeline: view();
      animation-range: entry-crossing 20px entry-crossing 200px;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, 2rem, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
