@media (prefers-reduced-animation: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  background-color: var(--bg);
  color: var(--textColor);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  font-display: swap;
}

main {
  flex-grow: 1;
  padding-block: var(--step-4);
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 var(--space-s-l);
}

.container--xl {
  max-width: 100%;
}

section {
  padding-block: var(--space-2xl);
  scroll-margin-block-start: 3rem;

  &:nth-of-type(even) {
    background-color: var(--textColor);
    color: var(--bg);
  }
}
