body {
  font-family: var(--fontBody);
  font-size: var(--step-0);
  font-style: normal;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  font-weight: 700;
  margin-block: 0;
}

h1 {
  font-size: var(--step-6);
  letter-spacing: -0.03em;
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h3 {
  font-size: var(--step-2);
}

p {
  line-height: 1.55;
}

strong {
  font-weight: 720;
}

small {
  font-size: 0.9rem;
}

cite {
  font-style: normal;
}

a {
  color: inherit;
  transition:
    text-underline-offset 150ms,
    color 150ms;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.1em;

  &:hover,
  &:focus {
    text-underline-offset: 0.3em;
  }
}

.heading-xl {
  font-size: clamp(3rem, 10vi + 0.1rem, 10rem);
  line-height: 1.1;
}

.text-lg {
  font-size: var(--step-2);
}

.intro {
  font-size: var(--step-1);
  font-weight: 520;
}

.last-edited {
  font-variant-numeric: lining-nums;
  font-size: var(--step--1);
  margin-top: var(--space-xl);
}
