<header class="c-header">
  <nav>
    <ul class="c-header__list">
      <li>
        <a href="#03-manifesto">Manifesto</a>
      </li>
      <li>
        <a href="#04-references">References</a>
      </li>
      <li>
        <a href="#05-further-reading">Further reading</a>
      </li>
    </ul>
  </nav>
</header>