<header class="c-header">
  <nav>
    <ul class="c-header__list">
      <li>
        <a href="#01-manifesto">Manifesto</a>
      </li>
      <li>
        <a href="#02-about">About</a>
      </li>
      <li>
        <a href="#03-resources">Resources</a>
      </li>
    </ul>
  </nav>
</header>