<section id="{{ section.page.fileSlug }}">

  {% if section.data.title == "Further reading" %}
    <svg class="decoration decoration--3" width="111" height="118" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg">
      <use href="/sprite.svg#decoration-03" />
    </svg>
  {% endif %}

  <div class="container">
    <div class="o-richtext">
      <h2>{{ section.data.title }}</h2>

      {% if section.data.references %}
        <ol>
        {% for item in section.data.references %}
          <li id="ref_{{ loop.index }}">
            <a href="{{ item.url }}">{{ item.title }}</a>, {{ item.body }}
          </li>
        {% endfor %}
        </ol>
      {% endif %}

      {{ section.content | safe }}
    </div>
  </div>

  {% if section.data.title == "Manifesto" %}
    <svg class="decoration" width="523" height="257" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg">
      <use href="/sprite.svg#decoration-02" />
    </svg>
  {% endif %}
</section>